.about {
    
    &__img {
        width: 5%;
        height:72px ;
       
    }
    &__section {
        display: flex;
        flex-direction: column;
    }
    &__paragraph {
        width: 45%;
    }
    &__line1 {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        
        
    }
    
    &__line2 {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        
        
    }
    
    &__line3 {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        
    }
    
    &__line4 {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        
    }
    
    &__line5 {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
}