@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Source+Code+Pro&display=swap');


$font-body: 'Source Code Pro', monospace;
$font-display: 'Commissioner', sans-serif;

$color-primary: #D65A2E;
$color-black: #191819;
$color-white:#FFFFFF;

* {
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-white;
}


$mobile-screen: 320px;
$scren-width:90%;