.projectA {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    &__img {
        width: 50%;
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        margin: 0 20px;
    }
    &__stack {
        ul {
        list-style-type: none;
    }}
    &__buttons {
        display: flex;
        justify-content: space-around;
    }
    &__website {
        display: block;
        width: 160px;
        font-family: $font-body;
        background-color: $color-primary;
        color: $color-black;
        text-align: center;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        
        text-decoration: none;
    }
    &__code {
        display: block;
        width: 160px;
        font-family: $font-body;
        background-color: $color-primary;
        color: $color-black;
        text-align: center;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        text-decoration: none;
    }
    a:hover {
        color : $color-white;
    }
    
}

.projects__title {
    width: 90%;
    margin-bottom: 20px;    
}

.projectB {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    &__img {
        width: 50%;
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        margin: 0 20px;
    }
    &__stack {
        ul {
        list-style-type: none;
    }}
    &__buttons {
        display: flex;
        justify-content: space-around;
    }
    &__website {
        display: block;
        width: 160px;
        font-family: $font-body;
        background-color: $color-primary;
        color: $color-black;
        text-align: center;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        
        text-decoration: none;
    }
    &__code {
        display: block;
        width: 160px;
        font-family: $font-body;
        background-color: $color-primary;
        color: $color-black;
        text-align: center;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        text-decoration: none;
    }
    a:hover {
        color : $color-white;
    }
    
}
@media screen and (max-width:1000px) {
    .projectA__buttons {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:710px) {
    .projectA {
        flex-direction: column;
    }
    .projectA__img {
            width: 100%;
            margin: 0 5px;
            margin-bottom: 20px;
        }
    .projectA__text {
            width: 100%;
            margin: 0 5px;
            
    }
    .projectA__buttons {
        margin-bottom: 20px;
        align-items: center;
    }
    .projectA__website {
        width: 140px;
        font-size: small;
    }
    .projectA__code {
        width: 140px;
        font-size: small;
    }
    .projectB {
        flex-direction: column-reverse;
    }
    .projectB__img {
            width: 100%;
            margin: 0 5px;
            margin-bottom: 20px;
        }
    .projectB__text {
            width: 100%;
            margin: 0 5px;
            
    }
    .projectB__buttons {
        margin-bottom: 20px;
        align-items: center;
    }
    .projectB__website {
        width: 140px;
        font-size: small;
    }
    .projectB__code {
        width: 140px;
        font-size: small;
    }
}