.profile {
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
        width: 20%;
        margin: 50px;
    }

    &__text {
        margin: 50px;
        line-height: 50px;
        text-align: center;

        h1 {
            font-family: $font-display;
            font-size: 100px;
        }
        p {
            color: $color-primary;
            font-size: medium;
       
        }
    }
    &__links {
        img {
            width: 20%;
            height: 100%;
            text-decoration: none;
            color: $color-primary;
        }
    }
}