@import url("https://fonts.googleapis.com/css2?family=Commissioner&family=Source+Code+Pro&display=swap");
.about__img {
  width: 56.65px;
  height: 62px;
}
.about__section {
  display: flex;
  flex-direction: column;
}
.about__paragraph {
  width: 45%;
}
.about__line1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.about__line2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.about__line3 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.about__line4 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.about__line5 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .about__paragraph {
    width: 70%;
  }

  .about__line1 {
    justify-content: center;
  }

  .about__line2 {
    justify-content: center;
  }

  .about__line3 {
    justify-content: center;
  }

  .about__line4 {
    justify-content: center;
  }

  .about__line5 {
    justify-content: center;
  }
}
* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  color: #FFFFFF;
}

body {
  background-color: #191819;
}

.contact__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__email {
  width: 35px;
}
.contact__linkedin {
  width: 35px;
  margin: 10px;
}
.contact__github {
  width: 35px;
  margin: 10px;
}
.contact__cv {
  width: 35px;
  margin: 10px;
}
.contact__links {
  display: flex;
  align-items: flex-end;
}

.experience {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}
.experience__img {
  width: 50%;
}
.experience__text {
  width: 50%;
  margin: 0 5px;
}
.experience__nology {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}
.experience__stack {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}
.experience__stack ul {
  list-style-type: none;
}
.experience__button {
  display: block;
  width: 160px;
  font-family: "Source Code Pro", monospace;
  background-color: #D65A2E;
  color: #191819;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  text-decoration: none;
}
.experience a:hover {
  color: #FFFFFF;
}

.experience__title {
  width: 90%;
  margin-bottom: 20px;
  margin-left: 10px;
}

@media screen and (max-width: 710px) {
  .experience {
    flex-direction: column;
  }

  .experience__img {
    width: 100%;
    margin: 0 5px;
  }

  .experience__text {
    width: 100%;
    margin: 0 5px;
  }

  .experience__button {
    margin-bottom: 20px;
  }
}
nav,
nav * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.navbar {
  justify-content: space-between;
  width: 100%;
  height: 50px;
  font-size: 1.25em;
  position: fixed;
}

#logo {
  width: 15%;
  height: 100%;
  font-family: "Commissioner", sans-serif;
  color: #D65A2E;
  text-decoration: none;
}

#logo:hover {
  color: #FFFFFF;
}

#navLinks {
  width: 50%;
  height: 100%;
  justify-content: flex-end;
  font-family: "Commissioner", sans-serif;
}
#navLinks a {
  width: 33%;
  height: 100%;
  text-decoration: none;
  color: white;
}
#navLinks a:hover {
  color: #D65A2E;
}

@media screen and (max-width: 840px) {
  #navLinks {
    flex-direction: column;
    margin-top: 120px;
  }

  #logo {
    margin-left: 50px;
  }
}
header {
  font-family: "Commissioner", sans-serif;
  color: #FFFFFF;
  text-align: center;
  margin: 300px auto;
  flex-grow: 1;
}

.background {
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1440px) {
  .background {
    background-image: url(./images/plane-view-laptopL.png);
  }
}
@media screen and (max-width: 1024px) {
  .background {
    background-image: url(./images/plane-view-laptop.png);
  }
}
@media screen and (max-width: 768px) {
  .background {
    background-image: url(./images/plane-view-tablet.png);
  }
}
@media screen and (max-width: 425px) {
  .background {
    background-image: url(./images/plane-view-mobileL.png);
  }
}
@media screen and (max-width: 375px) {
  .background {
    background-image: url(./images/plane-view-mobileM.png);
  }
}
@media screen and (max-width: 320px) {
  .background {
    background-image: url(./images/plane-view-mobileS.png);
  }
}
@media screen and (min-width: 1440px) {
  .background {
    background-image: url(./images/plane-view-max.png);
  }
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__img {
  width: 20%;
  margin: 50px;
  border-radius: 50%;
  min-width: 200px;
}
.profile__text {
  margin: 50px;
  line-height: 50px;
  text-align: center;
}
.profile__text h1 {
  font-family: "Commissioner", sans-serif;
  font-size: 100px;
}
.profile__text p {
  color: #D65A2E;
  font-size: medium;
}
.profile__links img {
  width: 20%;
  height: 100%;
  text-decoration: none;
  color: #D65A2E;
}

@media screen and (max-width: 500px) {
  .profile {
    flex-direction: column;
  }
  .profile__img {
    width: 96.797px;
  }
}
.projectA {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}
.projectA__img {
  width: 50%;
}
.projectA__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin: 0 20px;
}
.projectA__stack ul {
  list-style-type: none;
}
.projectA__buttons {
  display: flex;
  justify-content: space-around;
}
.projectA__website {
  display: block;
  width: 160px;
  font-family: "Source Code Pro", monospace;
  background-color: #D65A2E;
  color: #191819;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  text-decoration: none;
}
.projectA__code {
  display: block;
  width: 160px;
  font-family: "Source Code Pro", monospace;
  background-color: #D65A2E;
  color: #191819;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  text-decoration: none;
}
.projectA a:hover {
  color: #FFFFFF;
}

.projects__title {
  width: 90%;
  margin-bottom: 20px;
}

.projectB {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}
.projectB__img {
  width: 50%;
}
.projectB__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin: 0 20px;
}
.projectB__stack ul {
  list-style-type: none;
}
.projectB__buttons {
  display: flex;
  justify-content: space-around;
}
.projectB__website {
  display: block;
  width: 160px;
  font-family: "Source Code Pro", monospace;
  background-color: #D65A2E;
  color: #191819;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  text-decoration: none;
}
.projectB__code {
  display: block;
  width: 160px;
  font-family: "Source Code Pro", monospace;
  background-color: #D65A2E;
  color: #191819;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  text-decoration: none;
}
.projectB a:hover {
  color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
  .projectA__buttons {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 710px) {
  .projectA {
    flex-direction: column;
  }

  .projectA__img {
    width: 100%;
    margin: 0 5px;
    margin-bottom: 20px;
  }

  .projectA__text {
    width: 100%;
    margin: 0 5px;
  }

  .projectA__buttons {
    margin-bottom: 20px;
    align-items: center;
  }

  .projectA__website {
    width: 140px;
    font-size: small;
  }

  .projectA__code {
    width: 140px;
    font-size: small;
  }

  .projectB {
    flex-direction: column-reverse;
  }

  .projectB__img {
    width: 100%;
    margin: 0 5px;
    margin-bottom: 20px;
  }

  .projectB__text {
    width: 100%;
    margin: 0 5px;
  }

  .projectB__buttons {
    margin-bottom: 20px;
    align-items: center;
  }

  .projectB__website {
    width: 140px;
    font-size: small;
  }

  .projectB__code {
    width: 140px;
    font-size: small;
  }
}